:root {
    --vp-bg-home-hero-name: linear-gradient(to right, hsl(150, 75%, 75%) 0%, hsl(210, 75%, 75%) 33%, hsl(60, 75%, 75%) 67%, hsl(0, 75%, 75%) 100%);
}

::selection {
    background-color: var(--vp-c-brand-1);
    color: white;
}

.vp-doc-aside-outline .root>li>.nested,
.vp-local-nav-outline-dropdown .outline>.nested>li>.nested {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1em;
}

.vp-footer .copyright a {
    text-decoration: none;
}

blockquote::before {
    display: none;
}