.vp-doc-aside-outline .root>li>.nested,
.vp-local-nav-outline-dropdown .outline>.nested>li>.nested {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1em;
}

.vp-copyright {
    background: var(--vp-c-bg-alt) !important;
}

.vp-copyright p:nth-of-type(2),
blockquote::before,
.copyright-mask {
    display: none;
}